Repository kenn-williamson/kennwilliamsondotorg: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

feat(music): player download button + card layout fixes
  frontend/app/components/Music/MusicAudioPlayer.vue
  frontend/app/components/Music/MusicSongCard.vue
Due: frontend

feat(music): player download button + card layout fixes (#35)
  frontend/app/components/Music/MusicAudioPlayer.vue
  frontend/app/components/Music/MusicSongCard.vue
Due: frontend

fix(music): keep cover art square (grid layout, no crop)
  frontend/app/components/Music/MusicSongCard.vue
Due: frontend

refactor(blog): use compile-time sqlx macros in blog repository
  backend/.sqlx/query-3f6f3bcaaf8c0a3517173f9e1e7b83b00e3894211ecc32dd0171da2ed7a5daee.json
  backend/.sqlx/query-50519361ef499378f04374e4d82f4bf66f754c406cea9bc7b77a716ea1487b64.json
  backend/.sqlx/query-567cd07a8807981c1b21fd06818549f1eafe4ba59693fa298ea8ce247cfd2206.json
  backend/.sqlx/query-69a2dcd1677f9aae5c7c78fac9a179950949526840aa2014b7487c63eb67cfe3.json
  backend/.sqlx/query-7108e3a8bf9534028e2ad2ad0382fa1f6eec6586c3fc38e1ba2f945f2981c427.json
  backend/.sqlx/query-73f7b8dbbcfe770188538d13244db63a889f4d3f167b9435f95d84b4f657b8c0.json
  backend/.sqlx/query-79b694363723bb4a089e2201964ed90eeb41b26d9a0895f1649a11ab2ab6a381.json
  backend/.sqlx/query-841b70944a0ea2a010886bc34465c14801b1d33c79f01cdade0441669c453dc1.json
  backend/.sqlx/query-8b0cb1bd51f0af303aef23f13171082121a2ce7878642e34d504293dd4175092.json
  backend/.sqlx/query-8ba3e869a55a3fd9b6aa05dbb01f40b3a537fd7b1d95fca0f3c6fc54c229cd11.json
  backend/.sqlx/query-b0cae8fae74fbca4a2c42d09b3653f19bc226d8c71789b39fbf783676b1f5556.json
  backend/.sqlx/query-b20ad71db93160bb9e1e1621d69120bfd1a3a7295c4ada391e14df41e0f3c2c6.json
  backend/.sqlx/query-bd4de0a0516e40178d9fd636f2e7ba683ed597093cb98e03b69d6492cbc208ca.json
  backend/.sqlx/query-c1279f6b3568e56af635a042a358b3e8dc24f9b51cc6071c813c7b0bde4fee18.json
  backend/.sqlx/query-c2a2ac907e0cecadbf7069e99eae5a6afaf28671ee959a7c0046f1a9178fa9ac.json
  backend/.sqlx/query-c5ae2666575ce54771c1f7a25857e9e22ecec0214ad597892df2a34a8198f79e.json
  backend/.sqlx/query-f44055b78704a0a356063248b4f2976a6fd0a4e6b07042f456cd07f0d5b02b56.json
  backend/src/repositories/postgres/postgres_blog_repository.rs
Due: backend

fix(music): keep cover art square (grid layout, no crop) (#37)
  frontend/app/components/Music/MusicSongCard.vue
Due: frontend

refactor(blog): use compile-time sqlx macros in blog repository (#38)
  backend/.sqlx/query-3f6f3bcaaf8c0a3517173f9e1e7b83b00e3894211ecc32dd0171da2ed7a5daee.json
  backend/.sqlx/query-50519361ef499378f04374e4d82f4bf66f754c406cea9bc7b77a716ea1487b64.json
  backend/.sqlx/query-567cd07a8807981c1b21fd06818549f1eafe4ba59693fa298ea8ce247cfd2206.json
  backend/.sqlx/query-69a2dcd1677f9aae5c7c78fac9a179950949526840aa2014b7487c63eb67cfe3.json
  backend/.sqlx/query-7108e3a8bf9534028e2ad2ad0382fa1f6eec6586c3fc38e1ba2f945f2981c427.json
  backend/.sqlx/query-73f7b8dbbcfe770188538d13244db63a889f4d3f167b9435f95d84b4f657b8c0.json
  backend/.sqlx/query-79b694363723bb4a089e2201964ed90eeb41b26d9a0895f1649a11ab2ab6a381.json
  backend/.sqlx/query-841b70944a0ea2a010886bc34465c14801b1d33c79f01cdade0441669c453dc1.json
  backend/.sqlx/query-8b0cb1bd51f0af303aef23f13171082121a2ce7878642e34d504293dd4175092.json
  backend/.sqlx/query-8ba3e869a55a3fd9b6aa05dbb01f40b3a537fd7b1d95fca0f3c6fc54c229cd11.json
  backend/.sqlx/query-b0cae8fae74fbca4a2c42d09b3653f19bc226d8c71789b39fbf783676b1f5556.json
  backend/.sqlx/query-b20ad71db93160bb9e1e1621d69120bfd1a3a7295c4ada391e14df41e0f3c2c6.json
  backend/.sqlx/query-bd4de0a0516e40178d9fd636f2e7ba683ed597093cb98e03b69d6492cbc208ca.json
  backend/.sqlx/query-c1279f6b3568e56af635a042a358b3e8dc24f9b51cc6071c813c7b0bde4fee18.json
  backend/.sqlx/query-c2a2ac907e0cecadbf7069e99eae5a6afaf28671ee959a7c0046f1a9178fa9ac.json
  backend/.sqlx/query-c5ae2666575ce54771c1f7a25857e9e22ecec0214ad597892df2a34a8198f79e.json
  backend/.sqlx/query-f44055b78704a0a356063248b4f2976a6fd0a4e6b07042f456cd07f0d5b02b56.json
  backend/src/repositories/postgres/postgres_blog_repository.rs
Due: backend

fix(music): responsive song card layout on mobile
  frontend/app/components/Music/MusicSongCard.vue
Due: frontend

feat(about): compute family ages from birthdays instead of hardcoding
  frontend/app/constants/birthdays.ts
  frontend/app/pages/about/now.vue
  frontend/app/pages/about/vision.vue
  frontend/app/utils/age.spec.ts
  frontend/app/utils/age.ts
Due: frontend

feat(about): show a live "in {Month} {Year}" stamp on the vision page
  frontend/app/pages/about/vision.vue
Due: frontend

fix(review): extract shared useAboutNow() composable for About pages
  frontend/app/composables/useAboutNow.ts
  frontend/app/pages/about/now.vue
  frontend/app/pages/about/vision.vue
Due: frontend

test(about): add unit test for useAboutNow composable
  frontend/app/composables/useAboutNow.spec.ts
Due: none

feat(about): compute family ages from birthdays (#41)
  frontend/app/composables/useAboutNow.spec.ts
  frontend/app/composables/useAboutNow.ts
  frontend/app/constants/birthdays.ts
  frontend/app/pages/about/now.vue
  frontend/app/pages/about/vision.vue
  frontend/app/utils/age.spec.ts
  frontend/app/utils/age.ts
Due: frontend

content(about): soften religious framing in the Dating Question section
  frontend/app/pages/about/now.vue
Due: frontend

content(about): drop the itemized partner-requirements paragraph
  frontend/app/pages/about/now.vue
Due: frontend

content(about): tone down religious framing in the Dating Question (#43)
  frontend/app/pages/about/now.vue
Due: frontend

fix(about): compute ages and soften partner-requirements line on index page
  frontend/app/pages/about/index.vue
Due: frontend

content(about): cut redundant/heavy content from the landing page
  frontend/app/pages/about/index.vue
Due: frontend

content(about): gate raw disclosure properly, cut Peterson, soften declarative tone
  frontend/app/pages/about/faith.vue
  frontend/app/pages/about/index.vue
  frontend/app/pages/about/professional.vue
  frontend/app/pages/about/theology.vue
  frontend/app/pages/about/vision.vue
  frontend/app/pages/about/wilderness.vue
Due: frontend

fix(about): reconcile Christian Voluntarism terminology
  frontend/app/pages/about/index.vue
  frontend/app/pages/about/theology.vue
Due: frontend

fix(about): drop dead-end wilderness link, gloss "Rothbardian"
  frontend/app/pages/about/faith.vue
  frontend/app/pages/about/theology.vue
Due: frontend

content(about): say plainly the fuller story is gated
  frontend/app/pages/about/faith.vue
Due: frontend

fix(about): compute ages + soften partner-requirements line on About landing page (#44)
  frontend/app/pages/about/faith.vue
  frontend/app/pages/about/index.vue
  frontend/app/pages/about/professional.vue
  frontend/app/pages/about/theology.vue
  frontend/app/pages/about/vision.vue
  frontend/app/pages/about/wilderness.vue
Due: frontend

content(about): remove AI-tic em dashes, add computed separation duration
  frontend/app/constants/milestones.ts
  frontend/app/pages/about/faith.vue
  frontend/app/pages/about/index.vue
  frontend/app/pages/about/theology.vue
  frontend/app/pages/about/wilderness.vue
  frontend/app/utils/age.spec.ts
  frontend/app/utils/age.ts
Due: frontend

content(about): fix voice-audit findings (buzzwords, antithesis-tic, hype framing)
  frontend/app/pages/about/ai.vue
  frontend/app/pages/about/index.vue
  frontend/app/pages/about/now.vue
  frontend/app/pages/about/professional.vue
  frontend/app/pages/about/theology.vue
  frontend/app/pages/about/vision.vue
Due: frontend

fix(about): remove AI-tic voice drift, add computed separation duration (#46)
  frontend/app/constants/milestones.ts
  frontend/app/pages/about/ai.vue
  frontend/app/pages/about/faith.vue
  frontend/app/pages/about/index.vue
  frontend/app/pages/about/now.vue
  frontend/app/pages/about/professional.vue
  frontend/app/pages/about/theology.vue
  frontend/app/pages/about/vision.vue
  frontend/app/pages/about/wilderness.vue
  frontend/app/utils/age.spec.ts
  frontend/app/utils/age.ts
Due: frontend

fix(about): rebalance tone on landing page, fix church/name inconsistencies
  frontend/app/pages/about/faith.vue
  frontend/app/pages/about/index.vue
  frontend/app/pages/about/now.vue
  frontend/app/pages/about/origins.vue
Due: frontend

feat(music): add Zosima's Pupil section to music page
  frontend/app/assets/images/zosimas-pupil-eye.jpg
  frontend/app/pages/music/index.vue
Due: frontend

chore(deps): update frontend deps within semver ranges
  frontend/package-lock.json
Due: frontend

chore(deps): update backend lockfile, refresh cargo-audit ignores
  backend/.cargo/audit.toml
  backend/Cargo.lock
Due: backend

chore(deps): bump frontend majors, allowlist unpatched npm advisories
  .github/workflows/ci.yml
  IMPLEMENTATION-CICD.md
  frontend/app/plugins/markdown.ts
  frontend/app/types/markdown-plugins.d.ts
  frontend/audit-ci.jsonc
  frontend/package-lock.json
  frontend/package.json
  frontend/vitest.config.ts
  scripts/ci-check.sh
Due: frontend

chore(deps): bump backend majors
  backend/Cargo.lock
  backend/Cargo.toml
  backend/src/events/handlers/email_notification_handler.rs
  backend/src/repositories/postgres/postgres_phrase_repository.rs
  backend/src/routes/blog.rs
  backend/src/routes/music.rs
  backend/src/services/admin/user_management/mod.rs
  backend/src/services/auth/auth_service/email_verification.rs
  backend/src/services/auth/auth_service/login.rs
  backend/src/services/auth/auth_service/oauth.rs
  backend/src/services/auth/auth_service/password_reset.rs
  backend/src/services/auth/auth_service/profile.rs
  backend/src/services/auth/auth_service/refresh_token.rs
  backend/src/services/auth/auth_service/register.rs
Due: backend

ci: bump Rust toolchain to 1.95.0
  .github/workflows/ci.yml
  CLAUDE.md
  IMPLEMENTATION-BACKEND.md
  IMPLEMENTATION-CICD.md
  README.md
  backend/Dockerfile
  backend/Dockerfile.dev
Due: backend

feat(music): add Zosima's Pupil section to music page (#48)
  .github/workflows/ci.yml
  CLAUDE.md
  IMPLEMENTATION-BACKEND.md
  IMPLEMENTATION-CICD.md
  README.md
  backend/.cargo/audit.toml
  backend/Cargo.lock
  backend/Cargo.toml
  backend/Dockerfile
  backend/Dockerfile.dev
  backend/src/events/handlers/email_notification_handler.rs
  backend/src/repositories/postgres/postgres_phrase_repository.rs
  backend/src/routes/blog.rs
  backend/src/routes/music.rs
  backend/src/services/admin/user_management/mod.rs
  backend/src/services/auth/auth_service/email_verification.rs
  backend/src/services/auth/auth_service/login.rs
  backend/src/services/auth/auth_service/oauth.rs
  backend/src/services/auth/auth_service/password_reset.rs
  backend/src/services/auth/auth_service/profile.rs
  backend/src/services/auth/auth_service/refresh_token.rs
  backend/src/services/auth/auth_service/register.rs
  frontend/app/assets/images/zosimas-pupil-eye.jpg
  frontend/app/pages/music/index.vue
  frontend/app/plugins/markdown.ts
  frontend/app/types/markdown-plugins.d.ts
  frontend/audit-ci.jsonc
  frontend/package-lock.json
  frontend/package.json
  frontend/vitest.config.ts
  scripts/ci-check.sh
Due: backend, frontend

Path conditions:
  backend: any of: backend/, but not: frontend/node_modules/**, backend/target/**, **/*.test.ts, **/*.spec.ts, **/tests/**, **/*.d.ts, frontend/.nuxt/**, frontend/.output/**, migrations/**, nginx/**, scripts/**, *.md
  frontend: any of: frontend/, but not: frontend/node_modules/**, backend/target/**, **/*.test.ts, **/*.spec.ts, **/tests/**, **/*.d.ts, frontend/.nuxt/**, frontend/.output/**, migrations/**, nginx/**, scripts/**, *.md
