Repository kenn-williamson/kennwilliamsondotorg: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

# Codecov Configuration
# Documentation: https://docs.codecov.com/docs/codecov-yaml

coverage:
  status:
    # Project coverage - overall coverage for the entire project
    project:
      default:
        target: auto  # Automatically determine target based on previous commits
        threshold: 1%  # Allow 1% decrease without failing
        informational: true  # Don't block PRs based on coverage changes

    # Patch coverage - coverage for changed lines in PRs
    patch:
      default:
        target: 80%  # Aim for 80% coverage on new/changed code
        threshold: 5%  # Allow some flexibility
        informational: true  # Don't block PRs, just inform

# PR comment configuration
comment:
  layout: "header, diff, flags, files, footer"
  behavior: default  # Update existing comment instead of creating new ones
  require_changes: false  # Always post comment, even if no coverage changes

# Flag configuration for backend and frontend
flags:
  backend:
    paths:
      - backend/
    carryforward: true  # Use previous coverage if current upload fails

  frontend:
    paths:
      - frontend/
    carryforward: true

# Files and paths to ignore
ignore:
  - "frontend/node_modules/**"
  - "backend/target/**"
  - "**/*.test.ts"
  - "**/*.spec.ts"
  - "**/tests/**"
  - "**/*.d.ts"
  - "frontend/.nuxt/**"
  - "frontend/.output/**"
  - "migrations/**"
  - "nginx/**"
  - "scripts/**"
  - "*.md"

docs(readme): comprehensive update with CI/CD, OAuth, and email features
  README.md
Due: none

fix(ci): update CI workflow to use master branch instead of main
  .github/workflows/ci.yml
Due: none

feat: add Release-Please automation and fix CI pipeline errors
  .github/workflows/ci.yml
  .github/workflows/release-please.yml
  DEVELOPMENT-WORKFLOW.md
  IMPLEMENTATION-CICD.md
  frontend/app/composables/useGoogleOAuth.spec.ts
  frontend/vitest.config.ts
Due: frontend

fix(ci): switch to cargo-llvm-cov + nextest and remove flaky env tests
  .github/workflows/ci.yml
  backend/src/services/auth/oauth/config.rs
Due: backend

fix(ci): relocate nextest config and reduce test noise
  backend/.config/nextest.toml
  backend/tests/fixtures/test_context.rs
  frontend/package-lock.json
  frontend/package.json
Due: backend, frontend

fix(ci): create coverage directory before running llvm-cov
  .github/workflows/ci.yml
Due: none

fix(clippy): resolve all Clippy linting errors across codebase
  backend/src/events/event_bus.rs
  backend/src/events/handlers/email_notification_handler.rs
  backend/src/middleware/rate_limiter/middleware.rs
  backend/src/middleware/rate_limiter/mock.rs
  backend/src/models/db/user_preferences.rs
  backend/src/repositories/mocks/mod.rs
  backend/src/routes/auth.rs
  backend/src/services/admin/access_request_moderation/mod.rs
  backend/src/services/admin/phrase_moderation/mod.rs
  backend/src/services/admin/user_management/mod.rs
  backend/src/services/auth/auth_service/email_verification.rs
  backend/src/services/auth/auth_service/oauth.rs
  backend/src/services/auth/auth_service/profile.rs
  backend/src/services/auth/auth_service/refresh_token.rs
  backend/src/services/auth/oauth/mock_google_oauth_service.rs
  backend/src/services/incident_timer/create.rs
  backend/src/services/phrase/mod.rs
  backend/src/services/webhooks/sns_handler.rs
  backend/tests/admin_role_management_tests.rs
  backend/tests/api/testcontainers_account_deletion_tests.rs
  backend/tests/api/testcontainers_admin_api_tests.rs
  backend/tests/api/testcontainers_auth_api_tests.rs
  backend/tests/api/testcontainers_incident_timer_api_tests.rs
  backend/tests/api/testcontainers_multi_table_integration_tests.rs
  backend/tests/api/testcontainers_oauth_tests.rs
  backend/tests/api/testcontainers_phrase_api_tests.rs
  backend/tests/fixtures/jwt.rs
  backend/tests/fixtures/test_context.rs
  backend/tests/mod.rs
  backend/tests/refresh_token_validation.rs
  backend/tests/repositories/testcontainers_user_credentials_repository_tests.rs
  backend/tests/repositories/testcontainers_user_external_login_repository_tests.rs
  backend/tests/repositories/testcontainers_user_preferences_repository_tests.rs
  backend/tests/repositories/testcontainers_user_profile_repository_tests.rs
  backend/tests/services/email_suppression_integration_tests.rs
  backend/tests/services/sns_webhook_handler_tests.rs
  backend/tests/token_cleanup_tests.rs
Due: backend

fix(ci): correct Docker build contexts and environment variables
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  backend/.cargo/audit.toml
  backend/Cargo.lock
  backend/Cargo.toml
  backend/src/main.rs
Due: backend

feat(cd): configure automated deployment pipeline
  .github/workflows/deploy.yml
  IMPLEMENTATION-DEPLOYMENT.md
  docs/GITHUB-SECRETS-SETUP.md
  docs/PRE-DEPLOYMENT-CHECKLIST.md
Due: none

feat(cd): add dynamic IP whitelisting for secure GitHub Actions deployment
  .github/workflows/deploy.yml
Due: none

fix(deploy): load .env.production in all docker-compose commands
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  scripts/deploy-from-registry.sh
Due: none

fix(cd): correct health check paths and rollback migration strategy
  .github/workflows/deploy.yml
  backend/Dockerfile
  scripts/rollback.sh
Due: backend

fix(cd): enable Git LFS checkout and fix frontend health check
  .github/workflows/deploy.yml
Due: none

feat(cd): robust health checks with verbose logging and IPv4 fix
  .github/workflows/deploy.yml
  backend/Dockerfile
  scripts/health-check.sh
Due: backend

feat(frontend): add CI/CD pipeline section to project page
  frontend/app/pages/project.vue
Due: frontend

fix(social-share): add missing Open Graph image properties for better SEO
  frontend/app/composables/useSocialShare.ts
Due: frontend

fix(cd): automatically trigger deployment when release-please creates release
  .github/workflows/deploy.yml
  .github/workflows/release-please.yml
Due: none

fix(ssl): add ECDSA cipher support and www subdomain to certificates
  nginx/conf.d/default.conf
  scripts/ssl-manager.sh
Due: none

fix(ui): remove negative margin hacks for consistent cross-browser rendering
  frontend/app/components/Steampunk/FlippingDigit.vue
  frontend/app/components/Steampunk/SteampunkTooltip.vue
Due: frontend

ci: optimize backend build with sccache and parallel jobs
  .github/workflows/ci.yml
  backend/.cargo/config.toml
Due: backend

feat: update terminology from 'Christian Anarchism' to 'Christian Voluntarism' for clarity and consistency
  frontend/app/pages/about/index.vue
  frontend/app/pages/about/theology.vue
  frontend/app/pages/about/vision.vue
  frontend/app/pages/index.vue
Due: frontend

feat: implement microblog Phase 0-2 (infrastructure + repository layer)
  .env.development
  .gitignore
  backend/Cargo.lock
  backend/Cargo.toml
  backend/migrations/20251116144013_create_blog_posts.down.sql
  backend/migrations/20251116144013_create_blog_posts.up.sql
  backend/src/models/db/blog_post.rs
  backend/src/models/db/mod.rs
  backend/src/repositories/mocks/mock_blog_repository.rs
  backend/src/repositories/mocks/mock_image_storage.rs
  backend/src/repositories/mocks/mod.rs
  backend/src/repositories/postgres/mod.rs
  backend/src/repositories/postgres/postgres_blog_repository.rs
  backend/src/repositories/traits/blog_repository.rs
  backend/src/repositories/traits/image_storage.rs
  backend/src/repositories/traits/mod.rs
  backend/src/test_utils/blog_post_builder.rs
  backend/src/test_utils/mod.rs
  backend/tests/repositories/mod.rs
  backend/tests/repositories/testcontainers_blog_repository_tests.rs
  docker-compose.yml
  microblog-feature-plan.md
  nginx/conf.d/default.conf
  nginx/conf.d/development.conf
  scripts/setup-umami.sh
Due: backend

feat: implement microblog Phase 3 (service layer with 47 passing tests)
  backend/src/models/api/blog.rs
  backend/src/models/api/mod.rs
  backend/src/repositories/traits/mod.rs
  backend/src/services/blog/create.rs
  backend/src/services/blog/delete.rs
  backend/src/services/blog/mod.rs
  backend/src/services/blog/read.rs
  backend/src/services/blog/update.rs
  backend/src/services/blog/utils.rs
  backend/src/services/mod.rs
  microblog-feature-plan.md
Due: backend

feat: implement microblog Phase 4 (API routes with 11 passing HTTP tests)
  backend/Cargo.lock
  backend/Cargo.toml
  backend/src/models/api/blog.rs
  backend/src/routes/blog.rs
  backend/src/routes/mod.rs
  backend/src/services/container.rs
  backend/tests/api/mod.rs
  backend/tests/api/testcontainers_blog_api_tests.rs
  backend/tests/fixtures/test_context.rs
  microblog-feature-plan.md
Due: backend

fix: resolve CI errors (clippy, tests, cargo audit, npm audit)
  backend/Cargo.lock
  backend/Cargo.toml
  backend/src/services/container.rs
  backend/src/test_utils/blog_post_builder.rs
  backend/tests/service_registration_test.rs
  frontend/package-lock.json
Due: backend, frontend

feat: add local CI validation script to prevent remote failures
  CLAUDE.md
  DEVELOPMENT-WORKFLOW.md
  backend/tests/api/testcontainers_blog_api_tests.rs
  scripts/ci-check.sh
Due: none

fix: remove em dashes and update Teddy's age in about pages
  frontend/app/pages/about/ai.vue
  frontend/app/pages/about/index.vue
  frontend/app/pages/about/now.vue
  frontend/app/pages/about/professional.vue
  frontend/app/pages/about/theology.vue
  frontend/app/pages/about/vision.vue
Due: frontend

fix: add AWS S3 bucket environment variable for blog images
  docker-compose.yml
Due: none

fix: add blog S3 env var and update docs for microblog deployment
  IMPLEMENTATION-DEPLOYMENT.md
  PROJECT_HISTORY.md
  README.md
  docker-compose.production.yml
Due: none

fix: rename blog components directory and fix word wrapping
  frontend/app/components/Admin/Blog/BlogEditorForm.vue
  frontend/app/components/Blog/BlogPagination.vue
  frontend/app/components/Blog/BlogPostCard.vue
  frontend/app/components/Blog/BlogPostContent.vue
  frontend/app/components/Blog/BlogSearchBar.vue
  frontend/app/components/Blog/BlogShareButtons.vue
Due: frontend

fix: update Dockerfile.dev to improve dependency caching and clarify comments
  backend/Dockerfile.dev
Due: backend

fix: resolve session role duplication and improve markdown rendering
  .github/workflows/ci.yml
  frontend/app/components/Blog/BlogPostContent.vue
  frontend/app/plugins/markdown.ts
  frontend/app/types/markdown-plugins.d.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/server/utils/jwt-handler.ts
Due: frontend

feat(turnstile): add Cloudflare Turnstile CAPTCHA bot protection
  .env.example
  backend/src/main.rs
  backend/src/middleware/rate_limiter/config.rs
  backend/src/models/api/user.rs
  backend/src/routes/auth.rs
  backend/src/services/auth/auth_service/register.rs
  backend/src/services/container.rs
  backend/src/services/email/log_only_email_service.rs
  backend/src/services/email/mod.rs
  backend/src/services/mod.rs
  backend/src/services/turnstile/cloudflare.rs
  backend/src/services/turnstile/mock.rs
  backend/src/services/turnstile/mod.rs
  backend/src/services/turnstile/trait_def.rs
  backend/tests/api/testcontainers_auth_api_tests.rs
  backend/tests/fixtures/test_context.rs
  backend/tests/rate_limiting_integration_tests.rs
  docker-compose.development.yml
  docker-compose.production.yml
  docker-compose.yml
  frontend/app/components/Auth/HoneypotField.vue
  frontend/app/components/Auth/TurnstileWidget.vue
  frontend/app/composables/useSocialShare.ts
  frontend/app/pages/index.vue
  frontend/app/pages/register.vue
  frontend/app/types/turnstile.d.ts
  frontend/nuxt.config.ts
  frontend/server/api/auth/register.post.ts
  scripts/ci-check.sh
Due: backend, frontend

feat(about): make faith, theology, origins, and vision pages public
  docker-compose.development.yml
  frontend/app/components/About/AboutLayout.vue
  frontend/app/components/About/AccessPrompt.vue
  frontend/app/pages/about/faith.vue
  frontend/app/pages/about/index.vue
  frontend/app/pages/about/origins.vue
  frontend/app/pages/about/theology.vue
  frontend/app/pages/about/vision.vue
  frontend/app/pages/blog/index.vue
  frontend/package-lock.json
  scripts/deploy-from-registry.sh
  scripts/deploy.sh
  scripts/dev-logs.sh
  scripts/dev-start.sh
  scripts/dev-stop.sh
  scripts/health-check.sh
  scripts/prepare-sqlx.sh
  scripts/rollback.sh
  scripts/setup-db.sh
  scripts/setup-local-prod.sh
  scripts/setup-production-env.sh
  scripts/ssl-manager.sh
Due: frontend

perf(tests): add deadpool testcontainer pooling for faster integration tests
  .github/workflows/ci.yml
  backend/Cargo.lock
  backend/Cargo.toml
  backend/tests/fixtures/mod.rs
  backend/tests/fixtures/pool/config.rs
  backend/tests/fixtures/pool/container.rs
  backend/tests/fixtures/pool/manager.rs
  backend/tests/fixtures/pool/mod.rs
  backend/tests/fixtures/pool/reset.rs
  backend/tests/fixtures/test_context.rs
  scripts/ci-check.sh
Due: backend

fix(ci): remove all service containers, tests use testcontainers
  .github/workflows/ci.yml
  backend/tests/fixtures/pool/config.rs
Due: none

fix(tests): use testcontainer pool in service_registration_test
  backend/tests/service_registration_test.rs
Due: none

perf(ci): increase test parallelism to 8 threads and 8 containers
  .github/workflows/ci.yml
  backend/.config/nextest.toml
Due: backend
