Repository kenn-williamson/kennwilliamsondotorg: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

feat(tests): add testcontainer reuse for faster test execution
  backend/Cargo.toml
  backend/tests/fixtures/test_context.rs
  scripts/ci-check.sh
Due: backend

fix(frontend): resolve markdown-it-prism browser compatibility error
  backend/Dockerfile.dev
  frontend/Dockerfile
  frontend/Dockerfile.dev
  frontend/app/plugins/markdown.ts
  frontend/app/types/markdown-plugins.d.ts
  frontend/package-lock.json
  frontend/package.json
Due: backend, frontend

feat(blog): add RSS, Atom, and JSON Feed syndication
  backend/.cargo/audit.toml
  backend/Cargo.lock
  backend/Cargo.toml
  backend/src/main.rs
  backend/src/models/api/feed.rs
  backend/src/models/api/mod.rs
  backend/src/routes/feed.rs
  backend/src/routes/mod.rs
  backend/src/services/container.rs
  backend/src/services/feed/mod.rs
  backend/src/services/mod.rs
  backend/tests/fixtures/test_context.rs
  backend/tests/service_registration_test.rs
  frontend/app/app.vue
  frontend/app/components/Layout/AppFooter.vue
  frontend/app/pages/blog/index.vue
  frontend/server/routes/feed/atom.get.ts
  frontend/server/routes/feed/index.get.ts
  frontend/server/routes/feed/json.get.ts
  frontend/server/routes/feed/rss.get.ts
  lambda/email-forwarder/README.md
  lambda/email-forwarder/package-lock.json
  lambda/email-forwarder/package.json
Due: backend, frontend

chore(ci): update Rust to 1.91, add job timeouts
  .github/workflows/ci.yml
  backend/.config/nextest.toml
  backend/Dockerfile
Due: backend

docs: update documentation for recent features and remove stale test counts
  CLAUDE.md
  IMPLEMENTATION-BACKEND.md
  IMPLEMENTATION-CICD.md
  IMPLEMENTATION-DEPLOYMENT.md
  IMPLEMENTATION-FRONTEND.md
  IMPLEMENTATION-SECURITY.md
  PROJECT_HISTORY.md
  ROADMAP.md
Due: none

feat(blog): add mermaid diagram support with SSR markdown rendering
  backend/Cargo.lock
  backend/src/lib.rs
  backend/src/models/api/blog.rs
  backend/src/services/feed/mod.rs
  backend/src/utils/markdown.rs
  backend/src/utils/mod.rs
  backend/tests/service_registration_test.rs
  frontend/app/components/Blog/BlogPostContent.vue
  frontend/app/pages/blog/[slug].vue
  frontend/package-lock.json
  frontend/shared/types/blog.ts
Due: backend, frontend

fix(ssl): fix certificate auto-renewal and align expiration thresholds
  .github/workflows/deploy.yml
  scripts/ssl-manager.sh
Due: none

feat(timers): add streak stats, fix elapsed time display, and update dependencies
  backend/.sqlx/query-a77b5ee463475a37742514a1817cbcdaa5a4d63e86489e8aa6c0d1ec1c701d66.json
  backend/.sqlx/query-da5fc496dfc2124c008613615f5610f2c0d6bb24b3fccdc16bebd9bebf6771ac.json
  backend/Cargo.lock
  backend/Cargo.toml
  backend/src/models/api/incident_timer.rs
  backend/src/repositories/mocks/mock_incident_timer_repository.rs
  backend/src/repositories/postgres/postgres_incident_timer_repository.rs
  backend/src/repositories/traits/incident_timer_repository.rs
  backend/src/routes/incident_timers.rs
  backend/src/routes/mod.rs
  backend/src/services/incident_timer/read.rs
  frontend/app/components/Steampunk/VintageNoteCard.vue
  frontend/app/components/Timer/StreakStatsDisplay.vue
  frontend/app/components/Timer/TimerControlsTab.vue
  frontend/app/components/Timer/TimerList.vue
  frontend/app/components/Timer/TimerListItem.vue
  frontend/app/pages/[user_slug]/incident-timer.vue
  frontend/app/services/incidentTimerService.ts
  frontend/app/stores/incident-timers.spec.ts
  frontend/app/stores/incident-timers.ts
  frontend/package-lock.json
  frontend/shared/config/api-routes.ts
  frontend/shared/types/timers.ts
Due: backend, frontend

fix(ci): bump Rust to 1.91.1 and Node to 24 for CI compatibility
  .github/workflows/ci.yml
  backend/Dockerfile
  frontend/package-lock.json
Due: backend, frontend

fix: resolve TypeScript errors in Docker build and improve ci-check
  frontend/app/components/Timer/TimerList.vue
  frontend/server/utils/jwt-handler.ts
  scripts/ci-check.sh
Due: frontend

feat(timers): add streak stats, fix elapsed time, update deps (#19)
  .github/workflows/ci.yml
  backend/.sqlx/query-a77b5ee463475a37742514a1817cbcdaa5a4d63e86489e8aa6c0d1ec1c701d66.json
  backend/.sqlx/query-da5fc496dfc2124c008613615f5610f2c0d6bb24b3fccdc16bebd9bebf6771ac.json
  backend/Cargo.lock
  backend/Cargo.toml
  backend/Dockerfile
  backend/src/models/api/incident_timer.rs
  backend/src/repositories/mocks/mock_incident_timer_repository.rs
  backend/src/repositories/postgres/postgres_incident_timer_repository.rs
  backend/src/repositories/traits/incident_timer_repository.rs
  backend/src/routes/incident_timers.rs
  backend/src/routes/mod.rs
  backend/src/services/incident_timer/read.rs
  frontend/app/components/Steampunk/VintageNoteCard.vue
  frontend/app/components/Timer/StreakStatsDisplay.vue
  frontend/app/components/Timer/TimerControlsTab.vue
  frontend/app/components/Timer/TimerList.vue
  frontend/app/components/Timer/TimerListItem.vue
  frontend/app/pages/[user_slug]/incident-timer.vue
  frontend/app/services/incidentTimerService.ts
  frontend/app/stores/incident-timers.spec.ts
  frontend/app/stores/incident-timers.ts
  frontend/package-lock.json
  frontend/server/utils/jwt-handler.ts
  frontend/shared/config/api-routes.ts
  frontend/shared/types/timers.ts
  scripts/ci-check.sh
Due: backend, frontend

fix: use fixed-unit durations for streak stats and patch rand advisory
  backend/.cargo/audit.toml
  backend/Cargo.lock
  backend/Cargo.toml
  frontend/app/stores/incident-timers.spec.ts
  frontend/app/stores/incident-timers.ts
Due: backend, frontend

chore: add .nuxtrc to gitignore
  frontend/.gitignore
Due: frontend

fix: streak duration format and rand audit patch (#21)
  backend/.cargo/audit.toml
  backend/Cargo.lock
  backend/Cargo.toml
  frontend/.gitignore
  frontend/app/stores/incident-timers.spec.ts
  frontend/app/stores/incident-timers.ts
Due: backend, frontend

docs: fix 22 documentation discrepancies found in comprehensive audit
  ARCHITECTURE.md
  CLAUDE.md
  CODING-RULES.md
  DEVELOPMENT-WORKFLOW.md
  IMPLEMENTATION-BACKEND.md
  IMPLEMENTATION-CICD.md
  IMPLEMENTATION-DATABASE.md
  IMPLEMENTATION-SCRIPTS.md
  IMPLEMENTATION-SECURITY.md
  IMPLEMENTATION-TESTING.md
  README.md
  ROADMAP.md
Due: none

fix(ssl): sync Docker volume cert when system certbot renews independently
  scripts/ssl-manager.sh
Due: none

fix(auth): retry JWT refresh on transient errors, preserve session
  frontend/server/utils/jwt-handler.ts
Due: frontend

fix(deps): patch security audit findings (backend + frontend)
  backend/.cargo/audit.toml
  backend/Cargo.lock
  frontend/package-lock.json
Due: backend, frontend

fix(frontend): unblock deploy by fixing JWT retry type error and CI gap
  .github/workflows/ci.yml
  frontend/server/utils/jwt-handler.ts
  scripts/ci-check.sh
Due: frontend

fix(deps): bump js-cookie to patch GHSA-qjx8-664m-686j
  frontend/package-lock.json
Due: frontend

fix(blog): use anchor for feed link and expose all 3 syndication formats
  frontend/app/pages/blog/index.vue
Due: frontend

fix(blog): use anchor for feed link and expose all 3 syndication formats (#25)
  frontend/app/pages/blog/index.vue
Due: frontend

chore(deps): apply npm audit fixes and prune resolved cargo-audit ignores
  backend/.cargo/audit.toml
  frontend/package-lock.json
Due: backend, frontend

chore(deps): apply npm audit fixes and prune resolved cargo-audit ignores (#27)
  backend/.cargo/audit.toml
  frontend/package-lock.json
Due: backend, frontend

feat(nav): show Incidents link to logged-in users only
  frontend/app/components/Layout/AppHeader.vue
Due: frontend

chore(deps): apply npm audit fixes for high-severity advisories
  frontend/package-lock.json
Due: frontend

chore(deps): bump quinn-proto to 0.11.15 (RUSTSEC-2026-0185)
  backend/Cargo.lock
Due: backend

feat(nav): show Incidents link to logged-in users only (#28)
  backend/Cargo.lock
  frontend/app/components/Layout/AppHeader.vue
  frontend/package-lock.json
Due: backend, frontend

ci: skip heavy jobs by changed path; keep a skip-tolerant success gate
  .github/workflows/ci.yml
Due: none

ci: bump first-party actions to Node 24 majors
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .github/workflows/release-please.yml
Due: none

ci: drop post-merge run, gate on PRs only
  .github/workflows/ci.yml
Due: none

ci: leaner PR-gated pipeline (path-filter + Node 24 actions + drop post-merge run) (#31)
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .github/workflows/release-please.yml
Due: none

fix(home,music): music-forward homepage; drop em dashes from music copy
  frontend/app/pages/index.vue
  frontend/app/pages/music/index.vue
Due: frontend

feat(music): pre-fill admin editor from uploaded audio metadata
  frontend/app/components/Admin/Music/MusicEditorForm.vue
  frontend/package-lock.json
  frontend/package.json
Due: frontend

fix(home,music): music-forward homepage; drop em dashes from music copy (#32)
  frontend/app/pages/index.vue
  frontend/app/pages/music/index.vue
Due: frontend

feat(music): pre-fill admin editor from uploaded audio metadata (#33)
  frontend/app/components/Admin/Music/MusicEditorForm.vue
  frontend/package-lock.json
  frontend/package.json
Due: frontend

Path conditions:
  backend: any of: backend/, but not: frontend/node_modules/**, backend/target/**, **/*.test.ts, **/*.spec.ts, **/tests/**, **/*.d.ts, frontend/.nuxt/**, frontend/.output/**, migrations/**, nginx/**, scripts/**, *.md
  frontend: any of: frontend/, but not: frontend/node_modules/**, backend/target/**, **/*.test.ts, **/*.spec.ts, **/tests/**, **/*.d.ts, frontend/.nuxt/**, frontend/.output/**, migrations/**, nginx/**, scripts/**, *.md
